	@font-face
{
	font-family:AvantGardeITCbyBTBook;
	src:url(../fonts/AvantGardeITCbyBT-Book/AvantGardeITCbyBT-Book.eot?) format('eot'),url(../fonts/AvantGardeITCbyBT-Book/AvantGardeITCbyBT-Book.woff) format('woff'),url(../fonts/AvantGardeITCbyBT-Book/AvantGardeITCbyBT-Book.ttf) format('truetype'),url(../fonts/AvantGardeITCbyBT-Book/AvantGardeITCbyBT-Book.svg#AvantGardeITCbyBT-Book) format('svg')
}
	@font-face
{
	font-family:AvantGardeITCbyBTBookOblique;
	src:url(../fonts/AvantGardeITCbyBT-BookOblique/AvantGardeITCbyBT-BookOblique.eot?) format('eot'),url(../fonts/AvantGardeITCbyBT-BookOblique/AvantGardeITCbyBT-BookOblique.woff) format('woff'),url(../fonts/AvantGardeITCbyBT-BookOblique/AvantGardeITCbyBT-BookOblique.ttf) format('truetype'),url(../fonts/AvantGardeITCbyBT-BookOblique/AvantGardeITCbyBT-BookOblique.svg#AvantGardeITCbyBT-BookOblique) format('svg')
}
	@font-face
{
	font-family:Exotic350BTDemiBold;
	src:url(../fonts/Exotic350BT-DemiBold/Exotic350BT-DemiBold.eot?) format('eot'),url(../fonts/Exotic350BT-DemiBold/Exotic350BT-DemiBold.woff) format('woff'),url(../fonts/Exotic350BT-DemiBold/Exotic350BT-DemiBold.ttf) format('truetype'),url(../fonts/Exotic350BT-DemiBold/Exotic350BT-DemiBold.svg#Exotic350BT-DemiBold) format('svg')
}
	@font-face
{
	font-family:Lobster13;
	src:url(../fonts/Lobster1-3/Lobster1-3.eot?) format('eot'),url(../fonts/Lobster1-3/Lobster1-3.otf) format('opentype'),url(../fonts/Lobster1-3/Lobster1-3.woff) format('woff'),url(../fonts/Lobster1-3/Lobster1-3.ttf) format('truetype'),url(../fonts/Lobster1-3/Lobster1-3.svg#Lobster1.3) format('svg')
}
	@media only screen and (max-width:40em)
{
.container
{
	width:100%!important;
	margin:0!important
}

p.card_text{

	font-size: .85rem;
line-height: 1;
text-align: center;
margin-top: 100px;

}
.logo
{
	margin-top:10px!important;
	margin-left:0!important;
	width:150px
}
.top-bar
{
	height:100px
}
.top-bar-section ul
{
	margin:0
}
.top-bar-section ul li a
{
	height:auto!important
}
.wheredo
{
	font-size:30px!important
}
.journal
{
	font-size:27px!important;
	line-height:1em
}
.shopbutton
{
	margin-top:200px!important
}
.socialfirst,.socialsecond
{
	font-size:30px!important
}
.presspicmain
{
	margin-top:10px!important;
	margin-right:0!important;
	margin-bottom:10px!important
}
.columnswithnopaddingleft
{
	padding-left:.9375rem
}
.columnswithnopaddingright
{
	padding-right:.9375rem
}
.saltyitem
{
	text-align:left;
	height:90px!important
}
#card_header {text-align:center;}
.saltyingredients,.saltyproducttext846
{
	font-size:9px
}
.productsalty
{
	font-size:20px!important
}
.cartform
{
	margin-top:-5px
}
.saltyform
{
	margin-top:15px
}
.sweetypic
{
	width:90px!important
}
.custop
{
	margin-top:0
}
.infoform input[type=submit]
{
	margin-top:0!important;
	margin-bottom:20px
}
.leftcon
{
	padding-right:.9375rem!important
}
.rightcon
{
	padding-left:.9375rem!important
}
.cupcakeitem,.sweetyitem
{
	height:90px!important
}
.contactleft
{
	width:95%
}
.recaptchatable
{
	width:90%!important
}

}
	@media screen and (max-width:40em) and (orientation:landscape)
{
	input[type=text],textarea
{
	font-size:16px!important
}
h4#card_header {text-align:center;}
.cupcakeitem
{
	height:130px!important
}
.presspicmain
{
	margin-right:-30px!important
}
.pressbutton
{
	margin-top:68%!important
}
.saltyitem
{
	height:130px!important
}
.sweetypic
{
	width:130px!important
}
.sweetyitem
{
	height:130px!important
}
.cupcakeingredients
{
	width:200px
}
.producttext846
{
	font-size:18px!important;
	display:inline!important
}
.producttextlobster
{
	display:inline!important
}

}
	@media screen and (max-width:40em) and (orientation:portrait)
{
	input[type=text],textarea
{
	font-size:16px!important
}
.pressbutton
{
	margin-top:6%!important
}
.producttext846,.producttextlobster,.producttextlobsteralmond,.producttextlobsterbrownies,.producttextlobsterbutter,.producttextlobstercashew,.producttextlobsterchoco,.producttextlobstercorn
{
	font-size:22px!important
}

}
	@media only screen and (min-width:40.063em) and (max-width:64em)
{
.container
{
	width:100%!important
}
.contactright
{
	width:44%!important;
}
.top-bar .title-area
{
	margin-left:35%;
	margin-bottom:0
}
.top-bar-section ul
{
	width:100%;
	background-color:#EB6EA0
}
.top-bar-section ul li
{
	margin-left:1%
}
.logo
{
	padding:0
}
.producttext846,.producttextlobster,.producttextlobsteralmond,.producttextlobsterbrownies,.producttextlobsterbutter,.producttextlobstercashew,.producttextlobsterchoco,.producttextlobstercorn
{
	font-size:15px
}

}
	@media screen and (min-width:40.063em) and (max-width:64em) and (orientation:portrait)
{
.cupcakeitem
{
	height:172px!important
}
.productsalty
{
	font-size:20px!important
}
.saltyitem,.sweetyitem
{
	height:172px!important
}
.sweetypic
{
	width:172px!important
}
.csrow{
	/*	width: 96% !important;*/
}
.cupcakebox2 {
margin-top: 250px;
width: 165px;
}
.bigcake2 {
margin-top: 230px !important;
}

}
	@media only screen and (min-width:64.063em) and (max-width:90em)
{
.container
{
	width:80%!important
}
.contactright
{
	width:40%
}

}
.columnswithnopaddingleft
{
	padding-left:0!important
}
.columnswithnopaddingright
{
	padding-right:0!important
}
	body
{
	font-family:AvantGardeITCbyBTBook,Arial;
	background:url(dust.jpg) repeat
}
.container
{
	width:53%;
	margin:15px auto;
	padding:15px 0;
	display:block;
	background-color:#fff;
	-webkit-box-shadow:1px 5px 40px 8px rgba(114,114,114,.2);
	-moz-box-shadow:1px 5px 40px 8px rgba(114,114,114,.2);
	box-shadow:1px 5px 40px 8px rgba(114,114,114,.2);
	position:relative
}
.container:after,.container:before
{
	z-index:-1;
	position:absolute;
	content:"";
	bottom:15px;
	left:10px;
	width:50%;
	top:80%;
	max-width:300px;
	background:#777;
	-webkit-box-shadow:0 15px 10px #777;
	-moz-box-shadow:0 15px 10px #777;
	box-shadow:0 15px 10px #777
}
.container:after
{
	right:10px;
	left:auto
}
.top-bar
{
	height:93px;
	background:#FFF
}
	img
{
	max-width:100%
}
.logo
{
	margin-top:10px;
	margin-left:35px;
	width:200px
}
.top-bar .name
{
	height:93px
}
.top-bar-section ul
{
	background:#EB6EA0;
	overflow:hidden
}
.top-bar-section ul li a
{
	opacity:.9;
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	-ms-transition:all 300ms linear;
	transition:all 300ms linear;
	height:93px
}
.top-bar-section ul li:hover>a
{
	opacity:1
}
	@-webkit-keyframes moveFromBottom
{
	from
{
	-webkit-transform:translateY(200%)
}
	to
{
	-webkit-transform:translateY(0%)
}

}
	@-moz-keyframes moveFromBottom
{
	from
{
	-moz-transform:translateY(200%)
}
	to
{
	-moz-transform:translateY(0%)
}

}
	@-ms-keyframes moveFromBottom
{
	from
{
	-ms-transform:translateY(200%)
}
	to
{
	-ms-transform:translateY(0%)
}

}
.top-bar-section ul li a
{
	font-family:AvantGardeITCbyBTBook,Arial;
	background:#EB6EA0!important
}
.top-bar.expanded .title-area
{
	background:#fff
}
.menutop
{
	padding-top:10px
}
.custop
{
	background:#8DD5EC
}
.facebook:hover,.linkedin:hover,.twitter:hover
{
	opacity:.8
}
.top-bar .toggle-topbar.menu-icon a span
{
	position:absolute;
	right:0;
	display:block;
	width:16px;
	height:0;
	-webkit-box-shadow:0 10px 0 1px #050505,0 16px 0 1px black,0 22px 0 1px #000;
	box-shadow:0 10px 0 1px #050505,0 16px 0 1px black,0 22px 0 1px #000
}
.wheredo
{
	font-size:60px;
	height:350px;
	background:rgba(235,110,160,1)url(../img/img_map1.png) center center no-repeat;
	color:#fff
}
.orbit-container .orbit-slides-container>* .orbit-caption,.orbit-timer
{
	display:none
}
.journal
{
	color:#6D4D25;
	font-size:40px;
	line-height:1.3em;
	margin-top:-10px
}
.journal img
{
	padding-top:30px
}
.facebooksocial
{
	height:700px;
	background:#8DD5EC url(../img/thumb_facebook.png) right top no-repeat
}
.socialfirst
{
	font-size:40px;
	color:#fff
}
.socialsecond
{
	font-family:Exotic350BTDemiBold;
	font-size:40px;
	color:#6D4D25
}
.buttonbg
{
	color:#fff!important;
	background:#604D25!important
}
.arrowbg
{
	background:#EB6EA0!important
}
.fbpic
{
	margin:30px 5px 0
}
.basket
{
	width:300px;
	height:150px;
	border:1px solid #000;
	background-color:#e5e5e5;
	position:absolute;
	left:500px;
	z-index:99;
	display:none
}
.showbasket
{
	background-color:#8dd5ec;
	color:#fff
}
.showbasket:hover
{
	background-color:#d7d7d7;
	color:#fff
}
.showbasket:hover>#basketicon
{
	content:url(../img/icon_basket_sydneys_hover.jpg)
}
.basketbackground:hover
{
	background-color:#8dd5ec
}
	footer
{
	height:168px;
	background:#D7D7D7 url(../img/img_cupcakes_footer.png) left center no-repeat
}
.sweetypic
{
	width:200px;
	max-width:200px!important
}
.sweetybackground
{
	padding:15px;
	background:#8DD5EC;
	border-bottom: 1px solid #86CBE1;
}
.porducttext
{
	padding:15px;
	background:#493D35
}
.producttextbutter
{
	padding:15px;
	background:#91855F;
	
}
.producttextchoco
{
	padding:15px;
	background:#966159
}
.producttextalmond
{
	padding:15px;
	background:#926536
}
.producttextcashew
{
	padding:15px;
	background:#655238
}
.producttextcorn
{
	padding:15px;
	background:#D57836
}
.producttextbrownies
{
	padding:15px;
	background:#4F1112
}
.producttext846
{
	font-size:12px;
	color:#6D4D25;;
	font-family:AvantGardeITCbyBTBook,Arial;

}
.producttextlobster
{
	font-size:30px;
	color:#E96B44;
	font-family:Lobster13,Arial
}
.producttextlobsterbutter
{
	font-size:30px;
	color:#72C1AD;
	font-family:Lobster13,Arial
}
.producttextlobsterchoco
{
	font-size:30px;
	color:#8DB9BB;
	font-family:Lobster13,Arial
}
.producttextlobsteralmond
{
	font-size:30px;
	color:#9DB74E;
	font-family:Lobster13,Arial
}
.producttextlobstercashew
{
	font-size:30px;
	color:#932B2A;
	font-family:Lobster13,Arial
}
.producttextlobstercorn
{
	font-size:30px;
	color:#4D6774;
	font-family:Lobster13,Arial
}
.producttextlobsterbrownies
{
	font-size:30px;
	color:#fff;
	font-family:Lobster13,Arial
}
.ingredients
{
	color: #6D4D25;
font-size: 12px;
}
.sweety1input
{
	display:inline!important;
	width:40px!important;
	height:25px!important;
	margin:0 5px!important
}
.producttextchoco input[type=text]
{
	border:1px solid #8DB9BB!important
}
.producttextbutter input[type=text]
{
	border:1px solid #72C1AD!important
}
.producttextbrownies input[type=text]
{
	border:1px solid #250B0B!important
}
.producttextcorn input[type=text]
{
	border:1px solid #4D6774!important
}
.producttextcashew input[type=text]
{
	border:1px solid #932B2A!important
}
.producttextalmond input[type=text]
{
	border:1px solid #9DB74E!important
}
.porducttext input[type=text]
{
	border:1px solid #E96B44!important
}
.sweetyitem
{
	height:200px
}
.sweetyitemtext
{
	padding-left:44px
}
.productsalty
{
	font-size:24px;
	color:#fff;
	font-family:Lobster13,Arial
}
.porducttextchickencurrypie
{
	padding:15px;
	background:#53a4b7
}
.producttextbeefcurrypie
{
	padding:15px;
	background:#63a87b
}
.producttextchickenbegetablepie
{
	padding:15px;
	background:#fd9eb2
}
.producttextchunkysteakbeefpie
{
	padding:15px;
	background:#f4da49
}
.producttextchickenpie{
	padding: 15px;
	background: #eab67a;
}
.producttextbeefpie
{
	padding:15px;
	background:#cc97b1
}
.producttextchickenpastryroll
{
	padding:15px;
	background:#fabb2e
}
.producttextbeefpastryroll
{
	padding:15px;
	background:#f68559
}
.producttextgarlicbread
{
	padding:15px;
	background:#e8d435
}
.saltyingredients
{
	color: #000;
	font-size:12px
}
.saltyproducttext846
{
	font-size:12px;
	color:#000;
	font-family:AvantGardeITCbyBTBook,Arial
}
.button-style
{
	padding:6px;
	display:inline-block;
	margin-top:5px;
	border-top:none;
	border-right:none;
	border-left:none;
	color:#fff;
	font-size:12px
}
	input[type=submit]
{
	padding:0 7px;
	background:#EB6EA0 url(../img/sydneys_arrow_EB6EA0_25.png) 100% 0 no-repeat;
	border:0 none;
	cursor:pointer;
	text-align:left;
	width:60px;
	height:25px;
	color:#fff;
	font-size:12px
}
/*	input[type=submit]:hover
{
	opacity:.8
}*/
	input[type=text]
{
	border:1px solid #EB6EA0 !important;
	padding:5px!important
}
.saltyitem
{
	height:200px
}
.saltyitemtext
{
	padding-left:44px
}
.leftcon
{
	padding-right:0
}
.rightcon
{
	padding-left:0
}
.cupcakeitem
{
	height:200px
}
.cupcakeitemtext
{
	padding-left:43px
}
.cupcakeingredients
{
	color: #6D4D25;
	font-size:12px
}
.cupcakebackground
{
	padding:15px;
	background:#8DD5EC;
	border-bottom: 1px solid #86CBE1;
}
.carthover
{
	font-family:AvantGardeITCbyBTBook,Arial;
	background-color:#d8d7d7;
	margin-top:-35px;
	border:none!important;
	margin-bottom:-25px
}
.carthover fieldset
{
	border:none!important
}
.totalproduct
{
	margin-top:-10px;
	width:290px
}
.noofproduts
{
	color:#fff;
	float:left;
	margin-left:2px;
	font-size:14px
}
.noofprodutscount
{
	color:#fff;
	float:right;
	font-size:14px
}
.noofproduts2
{
	color:#fff;
	float:left;
	margin-left:2px;
	font-size:14px
}
.noofprodutscount2
{
	color:#fff;
	float:right;
	font-size:14px
}
.jcart-remove
{
	color:#baa792!important;
	display:none
}
.jcart-button
{
	display:none
}
.carthover table
{
	width:300px;
	border:none;
	background-color:#d8d7d7;
	border-collapse:separate;
	border-spacing:0 5px;
	margin-top:-15px
}
.carthover table tr
{
	background-color:#fff
}
.carthover input[type=text]
{
	border:none!important;
	-webkit-box-shadow:none;
	box-shadow:none;
	color:#baa792;
	display:inline!important;
	width:35px
}
.sendorderlink
{
	text-decoration:none
}
.sendorderlink span
{
	padding: 6px 22px 5px 5px;
	background:#fff url(../img/sydneys_arrow_white_25.png) 100% 0 no-repeat;
	/*width:200px!important;
	float:right;
	margin-right:-30px;
	margin-top:30px;
	border:0 none;
	cursor:pointer;
	height:24px;
	font-size:14px;
	color:#baa792;
	text-align:left*/
	width: 150px;
	text-align: left;
	font-size: 13px;
	height: 30px;
	color: #8DD5EC;
	float: right;
	margin-right: -33px;
	margin-top: 150px;
	background-size: contain;
}
.sendorderlink span:hover
{
	color: #EB6EA0;
}
.cupcakeitemcolor
{
	color:#EB6EA0;
	padding:0 5px
}
.cupcakeitemqtyprice
{
	color:#baa792;
	width:100px;
	padding:0 5px
}
.cupcakeitemqtyprice2
{
	color:#baa792;
	width:100px;
	margin-top:-5px;
	padding:0 15px
}
.carthover hr
{
	width:293px;
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #fff;
	margin:1em 0;
	padding:0
}
.minusbutton
{
	width:100px
}
.carthover input[type=submit]
{
	padding:5px;
	background:#fff url(../img/sydneys_arrow_white_30.png) 100% 0 no-repeat;
	width:200px!important;
	float:right;
	margin-right:0;
	margin-top:20px;
	border:0 none;
	cursor:pointer;
	height:30px;
	font-size:14px;
	color:#baa792
}
.carthover input[type=submit] :hover
{
	opacity:.8
}
.minusbutton
{
	cursor:pointer;
	padding:1px 4px;
	margin-right:-3px;
	border:1px #d8d7d7 solid
}
.plusbutton
{
	cursor:pointer;
	padding:1px;
	margin-left:-10px;
	border:1px #d8d7d7 solid
}
.plusandminue
{
	margin-left:10px
}
.ordertitle
{
	background-color:#8DD5EC;
	color:#fff;
	font-size:20px;
	padding:15px 15px 15px 30px;
	height:50px
}
.cartdetail .carthover
{
	background-color:#fff!important;
	margin-top:0;
	border:none!important
}
.cartdetail .jcart-remove
{
	color:#baa792!important;
	display:inline
}
.cartdetail .carthover table
{
	width:100%;
	border:none;
	background-color:#d8d7d7;
	border-collapse:separate;
	border-spacing:0 2px;
	margin-top:-15px
}
.cartdetail .totalproduct
{
	margin-top:-30px;
	width:100%;
	margin-bottom:30px
}
.cartdetail .noofproduts,.cartdetail .noofprodutscount
{
	display:none
}
.cartdetail .noofproduts2
{
	color:#8DD5EC;
	float:left;
	margin-left:15px;
	font-size:16px
}
.cartdetail .noofprodutscount2
{
	color:#8DD5EC;
	float:right;
	font-size:16px;
	margin-right:5px
}
.cartdetail .cupcakeitemcolor
{
	width:500px
}
.cartdetail .cupcakeitemqtyprice
{
	width:350px
}
.cartdetail .cupcakeitemqtyprice2
{
	width:350px;
	text-align:right
}
.cartdetail .jcart-button,.cartdetail .sendorderlink
{
	display:none
}
.infoform
{
	margin-top:30px
}
.infoform input[type=submit]
{
	padding:0 10px;
	background:#8DD5EC url(../img/sydneys_arrow_white_30.png) 100% 0 no-repeat;
	border:0 none;
	cursor:pointer;
	width:170px;
	margin-top:380px;
	height:30px;
	color:#fff;
	font-size:14px
}
.infoform input[type=submit]:hover
{
	opacity:.8;
	color:#EB6EA0;
}
.infoform input[type=text],textarea
{
	border:1px solid #EB6EA0!important;
	color:#EB6EA0;
	webkit-box-shadow:none;
	box-shadow:none
}
	::-webkit-input-placeholder
{
	color:#EB6EA0;
	font-style:italic
}
	:-moz-placeholder
{
	color:#EB6EA0;
	font-style:italic
}
	::-moz-placeholder
{
	color:#EB6EA0;
	font-style:italic
}
	:-ms-input-placeholder
{
	color:#EB6EA0;
	font-style:italic
}
.contactleft
{
	background-color:#8DD5EC;
	margin-right:15px;
	margin-left:15px
}
.contactright
{
	width:46%;
	background-color:#fff;
	margin-left:5px
}
.contactright p{
	font-size: .85rem;
	line-height: 1.4;
	text-align: justify;
}
.contactrightmobile
{
	width:100%;
	background-color:#fff
}
.contactform
{
	margin-top:30px
}
.contactright h3
{
	font-weight:500;
	color:#EB6EA0;
	margin-top:15px
}
.contactform input[type=submit]
{
	padding: 5px 48px 10px 38px;
	background:#fff url(../img/sydneys_arrow_white_30.png) 100% 0 no-repeat;
	border:0 none;
	cursor:pointer;
	width:150px;
	text-align:left;
	height:30px;
	color:#8DD5EC;
	font-size:18px;
}
.contactform input[type=submit]:hover
{
	color: #EB6EA0;
}
.contactform input[type=text]
{
	border:1px solid #EB6EA0!important;
	color:#EB6EA0;
	webkit-box-shadow:none;
	box-shadow:none
}
.footermenudiv
{
	margin-top:100px;
	margin-right:10px;
	margin-left:10px
}
.footermenu
{
	color:#fff
}
.footermenu a
{
	color:#fff;
	-webkit-transition:color 500ms linear;
	-moz-transition:color 500ms linear;
	-o-transition:color 500ms linear;
	-ms-transition:color 500ms linear;
	transition:color 500ms linear
}
.footermenu a:hover
{
	color:#EB6EA0
}
.copyright
{
	font-size:14px;
	color:#fff;
	float:right
}
.presspic
{
	margin-top:20px
}
.presspicmain
{
	margin-top:20px;
	margin-right:10px
}
.pressbutton
{
	padding:5px 40px 4px 10px;
	background:#6D4D25 url(../img/sydneys_arrow_white_30.png) 100% 0 no-repeat;
	width:150px!important;
	text-align:left;
	font-size:18px;
	height:30px;
	color:#fff;
	margin-top:30%
}
.pressbutton:hover
{
	color:#EB6EA0
}
.shopbutton
{
	padding:7px 20px 5px 10px;
	background:#fff url(../img/sydneys_arrow_EB6EA0white_30.png) 100% 0 no-repeat;
	width:150px;
	text-align:left;
	font-size:18px;
	height:30px;
	color:#EB6EA0;
	float:right;
	margin-right:20px;
	margin-top:150px
}
.shopbutton:hover
{
	color:#8DD5EC
}
.minusquantity,.plusquantity
{
	cursor:pointer
}
.copyright a
{
	color:#fff
}
.journalwidth
{
	width:40%!important
}
.recaptchatable
{
	width:100%
}
.facebookbox
{
	background:#fff;
	margin:20px
}

/*** Customize Page ***/
.csrow{
	padding-left: 0.9375rem !important;
	padding-right: 0.9375rem !important;
}
.cus2{
	background: #F9E5BB;
	/*margin: 0 15px !important;*/
}
.cus{
	background: url(dust.jpg) repeat;
	/*margin: 0 15px !important;*/
}
.customize{
	height: 1550px;
	
}

.customize h3{
	font-family: Lobster13;
	font-size: 36px;
	color: #fff;
	margin-top: 70px;
}
h2.placeh{
	margin-top: 11px;
}
.icupcake{
	margin-left: 27.6%;
	margin-top: 50px;
}
.icupcake2{
	margin-top: 149px;
}
.cupcakebox{
	margin-left: 2.2%;
	margin-top: 50px;
}
.cupcakebox2{
	
	margin-top: 260px;
}
.bigcake{
	margin-left: 20%;
	margin-top: 50px;
}
.bigcake2{
	margin-top: 200px;
}
.callus{
	margin-top: 12%;
}
.pleaselob{
	font-family: Lobster13;
	font-size: 38px;
	color: #fff;
}
.callusbg{
	background: #EB6EA0;
	height: 300px;
}
.callusso{
	font-family: AvantGardeITCbyBTBook;
	font-size: 38px;
	color: #fff;
}
.label{
	padding: 0.3rem 0.5rem 0.25rem 0.5rem;
	background-color: #6D4D25;
	color: #fff;
}
.saltyingredients .label{
padding: 0.3rem 0.5rem 0.25rem 0.5rem;
	background-color: #000;
	color: #fff;
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) { 

	.csrow{
	
}
}
.textcontainer{
	margin-top: 50px;
}

/*adding*/

@media only screen and (min-width:1441px) and (max-width: 1777px) { 

	.top-bar{

		display: inline-flex;
		position: relative;
		right: -1px;
		top: -13px;
		margin-bottom: -13px;

	}
	/*.container{width: 62%!important;}*/

	.contactright{width: 45%!important;}

	
	.top-bar-section ul{display:inline-flex;}
	.logo{margin-left:7px;}
	.top-bar-section{margin-left:27px;}
} 

@media only screen and (min-width: 1184px) and (max-width: 1440px) {

	.row{margin-left: initial;}
	.container{width: 72%!important;}
}

@media only screen and (min-width: 1406px) and (max-width: 1440px){

	.container{width: 70%!important;}
}

@media only screen and (min-width: 1025px) and (max-width: 1312px){

	.top-bar{display:inline-flex;}
	.top-bar-section ul{display:inline-flex;}
	.top-bar .title-area{margin-top:-13px;}
	.top-bar-section ul{margin-top:-13px;}
	.top-bar{margin-bottom: -13px;position:relative; right: -1px;}
	.logo{

		position: relative;
		left: -27px;
		}

		.contactright{width: 45%!important;}
	}

@media only screen and (min-width: 768px) and (max-width: 1024px){
	.contactright{width: 45%!important;}
	.top-bar{text-align:center;height: 186px;}
	.top-bar-section{display: inline-block;width: 100%;}
	.top-bar .title-area{margin: 0 auto;width:100%;}
	.top-bar-section ul li{display: inline-block;float: none;}

}

@media only screen and (min-width: 641px) and (max-width: 780px){

	.top-bar-section ul{display:inline-flex;}
	.top-bar-section ul li{display: inline-block;float: none;}

}

@media only screen and (min-width: 641px) and (max-width: 749px){

	.top-bar-section ul{display:inline-flex;}
	.top-bar-section ul li{display: inline-block;float: none;}

}

@media only screen and (min-width: 479px) and (max-width: 640px){

	.cupcakeitemtext{padding-left: 0px;}
	.cupcakebackground{height: 168px!important;margin-left: 83px;}
	.porducttextchickencurrypie{height: 168px!important;margin-left: 83px;}
	.producttextchickenbegetablepie{height: 168px!important;margin-left: 83px;}
	.producttextbeefcurrypie{height: 168px!important;margin-left: 83px;}
	.producttextchunkysteakbeefpie{height: 168px!important;margin-left: 83px;}
	.producttextchickenpie{height: 168px!important;margin-left: 83px;}
	.producttextbeefpie{height: 168px!important;margin-left: 83px;}
	.producttextchickenpastryroll{height: 168px!important;margin-left: 83px;}
	.producttextbeefpastryroll{height: 168px!important;margin-left: 83px;}
	.producttextgarlicbread{height: 168px!important;margin-left: 83px;}

	.sweetypic{width: 168px!important;}
	.contactright{width: 100%!important;}
}

@media only screen and (max-width: 478px){

	.cupcakebackground{height: 190px!important;margin-right: -22.2%;}
	.porducttextchickencurrypie{height: 190px!important;margin-right: -22.2%;}
	.producttextchickenbegetablepie{height: 190px!important;margin-right: -22.2%;}
	.producttextbeefcurrypie{height: 190px!important;margin-right: -22.2%;}
	.producttextchunkysteakbeefpie{height: 210px!important;margin-right: -22.2%;}
	.producttextchickenpie{height: 190px!important;margin-right: -22.2%;}
	.producttextbeefpie{height: 190px!important;margin-right: -22.2%;}
	.producttextchickenpastryroll{height: 190px!important;margin-right: -22.2%;}
	.producttextbeefpastryroll{height: 190px!important;margin-right: -22.2%;}
	.producttextgarlicbread{height: 190px!important;margin-right: -22.2%;}


	.sweetypic{width: 100%!important;max-width: initial!important;position: relative;z-index: 3;}
	.contactright{width: 100%!important;}


	.small-2.medium-4.large-4.columns{width: 100%;}
	[class*="column"]+[class*="column"]:last-child{clear:both;float:none;}
	.cupcakeitemtext{padding-left: 15px;}
}

