
@font-face {
	font-family: 'AvantGardeITCbyBT-BookOblique';
	src: url('AvantGardeITCbyBT-BookOblique.eot?') format('eot'), 
	     url('AvantGardeITCbyBT-BookOblique.woff') format('woff'), 
	     url('AvantGardeITCbyBT-BookOblique.ttf')  format('truetype'),
	     url('AvantGardeITCbyBT-BookOblique.svg#AvantGardeITCbyBT-BookOblique') format('svg');
}
