
@font-face {
	font-family: 'Exotic350BT-DemiBold';
	src: url('Exotic350BT-DemiBold.eot?') format('eot'), 
	     url('Exotic350BT-DemiBold.woff') format('woff'), 
	     url('Exotic350BT-DemiBold.ttf')  format('truetype'),
	     url('Exotic350BT-DemiBold.svg#Exotic350BT-DemiBold') format('svg');
}
