
@font-face {
	font-family: 'Lobster1-3';
	src: url('Lobster1-3.eot?') format('eot'), 
	     url('Lobster1-3.otf')  format('opentype'),
	     url('Lobster1-3.woff') format('woff'), 
	     url('Lobster1-3.ttf')  format('truetype'),
	     url('Lobster1-3.svg#Lobster1.3') format('svg');
}
