
@font-face {
	font-family: 'AvantGardeITCbyBT-Book';
	src: url('AvantGardeITCbyBT-Book.eot?') format('eot'), 
	     url('AvantGardeITCbyBT-Book.woff') format('woff'), 
	     url('AvantGardeITCbyBT-Book.ttf')  format('truetype'),
	     url('AvantGardeITCbyBT-Book.svg#AvantGardeITCbyBT-Book') format('svg');
}
